body {
    margin-left:auto;
    margin-right:auto;
    width:60%;
}

#tfheader {
  padding: 10px;
  float:right 1px;
  margin-top: 20px;
}

.table {
  margin-top: 10px;
}

.logo {
  margin-bottom: 0px;
}