/* Buttons */
.button {
	background: -moz-linear-gradient(center top, #fff, #dddddd);
	background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
	background:  -o-linear-gradient(top, #f3f3f3, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
	border-color:#000;
	border-width:1px;
	border-radius:4px 4px 4px 4px;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	color:#333;
	cursor:pointer;
	display:inline-block;
	padding:6px 6px 4px;
	margin-top:10px;
	font:12px;
	width:214px;
}

.button:hover {
  background:#ffe6cc;
}


.btn-sign {
	width: 80px;
  height: 35px;
	margin-bottom:10px;
  background: #d3d3d3;
}

.btn-sign:hover {
  background:#bba3d0;
}

.btn-sign a {
  color:#2f4f4f;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 12px 17px;
}

.btn-sign.logout a {
	padding-left: 20px;
}

.btn-sign.save{
	float: left;
	margin-left: 7%;
}

.btn-sign.logout {
	float: right;
	margin-right: 7%;
}
